<!-- Switched to having the list page act as the default homepage, but decided to keep this file in case having a separate homepage was something I wanted to bring back in the future  -->

{% extends 'base.html' %}

{% block content %}
    <div class="home-content">
        <h1>Welcome to the Team Member Management App</h1>
        <p>This is the homepage for the Team Member Management Application. Please click the button below to enter the list page</p>
        <a href="{% url 'team_member_list' %}" class="view-btn">View Team Members</a>
    </div>
{% endblock %}


